body {
	font-family: sans-serif;
	background-color: lightgrey;
}

div.sadrzaj {
	display: block;
	margin: 200px auto;
	width: 75%;
	height: auto;
}

article {
	display: inline-block;
	width: 30%;
	height: 260px;
	margin: 10px 0px 10px 25px;
	background-color: white;
}

div.cover-img1 {
	background-image: url("https://media.musely.com/u/fd770c8b-0a29-4d13-a40f-74bae0763f17.jpg");
	background-size: cover;
	height: 130px;
	width: 100%;
	margin: 0px;
}

div.cover-img2 {
	background-image: url("https://cbsla.files.wordpress.com/2013/02/header-wanderlust-beach.jpg");
	background-size: cover;
	height: 130px;
	width: 100%;
	margin: 0px;
}

div.cover-img3 {
	background-image: url("https://c2.staticflickr.com/8/7486/15854355246_68a7b41444.jpg");
	background-size: cover;
	height: 130px;
	width: 100%;
	margin: 0px;
}

div.kruzic {
	position: relative;
	top: -30px;
	left: 40%;
	width: 80px;
	height: 80px;
	margin: 0px;
	background-color: white;
	border-radius: 50%;
}

i { 
	position: relative;
	top: 20%;
	left: 30%;
	font-size: 30px !important;
	color: lime;
}

p {
	text-align: center;
	font-size: 20px;
}

@media screen and (max-width: 1450px) {
	p {
		text-align: center; 
		padding-bottom: 20px;
		font-size: 17px;
	}
}

@media screen and (max-width: 740px) {
	article {
		display: block;
		width: 90%;
		height: auto;
		margin-top: 20px;
		background-color: white;
	}

	p {
		text-align: center; 
		padding-bottom: 20px;
		font-size: 15px;
	}
}

